# some more ls aliases
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

# git
alias g='gitk --all &'
alias gg='gitg &'
alias t='tig --all'

#fzf find
alias f='fzf'

# restart
alias re='sudo shutdown -r now'
# halt
alias sd='sudo shutdown -P now'
