# some more ls aliases
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

# git
alias g='gitk --all &'
alias gg='gitg &'
alias t='tig --all'

#fzf find
alias f='fzf'

# restart
alias re='shutdown -r now'
# halt
alias sd='shutdown -p now'

# acpi states
# sleep
alias hr='sudo acpiconf -s 3'
# hibernate
alias hd='sudo acpiconf -s 4'

# i3lock-fancy
alias i='i3lock --blur=.1'
# i3lock photo gallery
alias o='i3lock --image=$HOME/lockpictures --slideshow-random-selection --scale'
